*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-size: cover;
    background-position: top;
    height: 10vh;
}
.header-title{
    padding: 5px;
    font-size: 2vh;
}

.footer{
    
    height: 20vh;
    background-color: rgb(34, 34, 34);
}
.social_media{
    height: 32px;
    margin: 10px;
    filter: invert();
}
.social_media_box{
    padding-top: 5vh;
        display: flex;
        justify-content: center;
}
.copyright_info{
    padding-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
}
